header{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px;
}
body{
  font-family: Dancing Script;
  font-size: 18px;
  text-align: center;

}
header a.current{
  text-decoration: none;

}
header h1{
  color:#fff;
  text-shadow: 2px 2px 2px #02010a;
  display: block;
}
.menu{
  display: flex;
  display: inline-block;
}
#imagen-central{
  text-align: center;
  background-color: #82c3a6;
}
#imagen-secundaria{
  text-align: right;
  text-align: left;
  background-color: #d5c75f;
  border: 1px;

}
#imagen-secundaria{
  display: flex;

}
#imagen-secundaria .imagen{
  text-shadow: #82c3a6;
  width: 100%;
  border: 2px;
}
#imagen-secundaria .imagen img{
  width: 100%;
}
#imagen-secundaria{
  flex-direction: column;
}
#paisaje:hover{
  transform: rotate(10deg);
  box-shadow: 10px 10px 10px #82c3a6;
  border: 2px solid;
}
#paisaje{
  transition: 1s;
}
#retrato:hover{
  transform: translate(5px 20px);
  box-shadow: #82c3a6;
  border: 2px solid;
}

footer{
  display: flex;
  flex-direction: column;
}
footer div{
  background-color: #C6d5c5;
  padding:20px;
}

#imagen1{
  filter: blur(10px);
}
#imagen2,
#imagen4,
#imagen6{
  filter: grayscale(100%);
}
#imagen3{
  filter: sepia(90%);
}
li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}
a{
  color:#fff;
}

@media (min-width:992px){/* Rules for the desktop*/
  #imagen-secundaria .imagen{
    width: 50%;
  }
  #imagen-secundaria{
    flex-direction: row;
  }
  footer{
    flex-direction: row;
  }
  footer div{
    border-radius: 10px;
    width: 25%;
  }
  #gallery div{
    width: 33%;
    display: inline-block;
    margin-bottom:15px;
    margin-top:15px;
    text-align: center;
  }
  #gallery div img{
    width:90%;

  }
  header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
section{
  background-color: #d5c75f;
}
